	<br />

	<div class="partial-box">

		<h3 class="report-title sidetitle">
			<small class="hidden">
				<strong><%= link_to "x", report_path(@report), method: :delete, data: {confirm: 'Are you sure?'} %>
				</strong>
			</small> 
			<%= @report.title %>
		</h3>

		<hr WIDTH="250px">

		<div>
		    <ul id='sidelist', class="report-articles">
		  		<% @articles.each do |article| %>
		  			<li class="titoli">
						
						<small class="hidden">
							<strong><%= link_to "x", report_article_path(@report, article), method: :delete,
						data: {confirm: 'Are you sure?'} %>
							</strong>
						</small>
		  				
		  				<%= link_to article.title, article_path(article), :data => { :report_id => @report.id } %>
		  			</li>

				<%end%>
			</ul>
		</div>
		<span class="label label-primary" id="export-it">EXPORT IN PDF</span>


	</div>

