	<br />
	<div class="partial-box">

		<h3 class="report-title sidetitle">
			<%= @report.title %>
		</h3>

		<hr class="linea">

		<div>
		    <ul id='sidelist', class="report-articles">
		  		<% @articles.each do |article| %>
		  			<li class="titoli">
						
						<small class="hidden">
							<strong><%= link_to "x", report_article_path(@report, article), method: :delete %>
							</strong>
						</small>
		  				<%= link_to article.title, article_path(article), :data => { :report_id => @report.id } %>
		  			</li>

				<%end%>
			</ul>
		</div>

		<span class="label label-primary deleteit" >
			<%= link_to "DELETE THE REPORT", report_path(@report), class: "deletebutton" , method: :delete %>
		</span>

		<span class="label label-export" id="export-it">EXPORT IN PDF</span>
	</div>

