	<img src="/assets/start.jpg" alt="rss feed" class="logo" />

			<div class="start">
				<form action="sphider/search.php" method="get"> 
					<input type="text" name="query" class="search rounded" id="query" value="">
				</form>  
			</div>