<div class="background-signup">

<div class="mymodal">	
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What is The New Work Times?</h4>
      </div>
      <div class="modal-body">
        <p>If you’re an average reader, I’ve got your attention for 15 seconds. Ads, multimedia items and links push you to leave the page that you're reading every second making concentrating on a single text a hard job.
        What if you could copy and paste the URL of the page you are reading and get back a proper, essential and clean page with the text you were reading?!
		<br />
		<br />
		This is the way you can read and save articles on The New Work Times.
    <br />
    <br />
    The New Work Times has been created in two weeks, during the Iron Hack bootcamp in Barcelona 2015,
    by <b><a href="http://github.com/giuliozucchini">Giulio Zucchini</a></b>. 

    <br />
    <br/>
    And the precious help of <b><a href="http://github.com/lmuntaner">Llorenç Muntaner</a></b> and <b><a href="http://github.com/s-kennedy">Sharon Kennedy</a></b>.
    <br />
  </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<script>
$('.close').on('click', function(event) {
		event.preventDefault();
		$('.mymodal').hide();
	});
</script>
</div>