
<div class="background_home">
<img src="/assets/logo.png" alt="rss feed" class="logo" />

<% if user_signed_in? %>
	<div class="start">
	<form method="get" action="/results"> 
		<input type="text" name="query" class="search" id="query" value="">
	</form>  
</div>					
<% end %>
<div>