
<div class="background_home">
<img src="/assets/logo.png" alt="rss feed" class="logo" />

 
<% if user_signed_in? %>
	<div class="start">
	<form method="get" action="/results" class="search"> 
		<input type="text" name="query" id="query" class="form-search" value="" placeholder="   Type your URL here...">
	</form>
	</div>					
<% end %>
 