/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.logo {
	font-weight: bold;
}

.container {
	padding-left:3%;
}

input {
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}

.navbar-fixed-bottom {
  height: 10px;
}

.signature {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 1%;
	color: white;	
}

.mymodal {
	padding-top: 130px;
}

div.alert-success {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar-custom {
	padding-right:2%;
	background-color: white;
}

#footer {
  height: 20px;
  background-color: #F0F0F0;
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}


