
.welcome-report{
	margin-right: 20%;
	margin-left: 100px;
	margin-top: 2%;
  font-size: 22px;
} 

div.report-box {
	padding: 25px;
	background-color: white;
  border-top: solid 1px;
  border-top-color: #646464;
}

.para {
  font-size: 10px;
}

.background-dash {
  z-index: -1;
  background-repeat: repeat-y;
  background-image: url("/assets/from-dash.png");
 }

.item {
  width: 220px;
  margin: 10px;
  float: left;
}
