// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	img.logo {
	    height: 50px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 250px;
	}

	.search {

	   margin-top: 10px;
		width: 480px;

	}


.background_home {
    z-index: -1;
    width: 100%;
    background-image: url("/assets/fond-splash.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom:0;
 }



