 ul#sidelist {
  list-style-type: none;
  width: 250px;
  font-size: 11px;
  list-style-position: outside;
  padding: 0;
 }

 ul#sidelist a:link {
    color: #666666;

}

h3.report-title{
	width: 550px;
  font-size: 20px;
  color: #333333;
}

div.partial-box {
	padding-left: 0px;
}

#sidebar li {
  padding-bottom: 7px;
  padding-top: 7px;
  }
