// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background-signup {
    position: absolute;
    z-index: -1;
    width: 100%;
    background-image: url("/assets/fond-login.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0; 
    left: 0; 
    bottom:0;
  }

.wrap-log {
  padding: 20px;
  height: 320px;
  width: 400px;
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 20%;
  background-color: rgb(252, 252, 252);
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.input-group .form-control:last-child {
	min-width: 260px;

}

.input-group-addon {
	 min-width:100px;

}

.btn-default.bottone {
  color: #FFF;
  background-color: #0888FC;
  border-color: #FFF;
}
