  <div class="col-md-2" id="sidebar" role="navigation">
    <%= render "share/sidebar" %> 
  </div>

  <div class="col-md-10">
	<h1 class="title"><%= @title %></h1>	
		<br />
	<p class="author">by <%= @author %><p>
		<br/>
	<div class="content">
	<%= @content %></div>
		<br />	
		<br />
	</div>
